@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* Global Style settings */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
::placeholder{
    margin-left: 2rem;
}

/* Colors */
:root{
    --bg-primary: #ecf0f1;
    --text: #16191a;
    --hover: #81ecec;
    --sidebar-border: #1abc9c;
    --hover-text-color: #f5f6fa;
    --button: #01ac89;
    --share-icon: #4cd137;
    --rating: #01ac89;
    --active-off: #d63031;
    --active-on: #009432;
    --trophy: #01ac89;
    --header-footer-color: #222f3e;
    --underline: #576574;
    --header-footer-icon: #8395a7;
    --header-footer-text-color: #ecf0f1;
}

/* Header footer font size */
:root{
    --header-footer-font-size: 1.8rem;
}

/* Sidebar */
.sidebar{
    background-color: #dfe6e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 29rem;
    height: 100vh;
    z-index: 2000;
    /* z-index: -1; */
    /* display: none; */
}
.sidebar__text{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-weight: 600;
    padding: 1.5rem 0;
    text-transform: uppercase;
    border-bottom: 1px solid #30336b;
}
.nav__item{
    position: relative;
}
.nav__item::before{
    content: "";
    position: absolute;

}
.nav__link{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: start;
    color: var(--text);
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #30336b;
}
.nav__link:hover{
    color: var(--header-footer-text-color);
    background-color: #130f40;
    transition: .6s ease-in-out;
}

/* Main section */
.whole__content{
    margin-left: 30rem;
}
.header{
    position: fixed;
    top: 0;
    width: calc(100% - 30rem);
    height: 5rem;
    background-color: var(--header-footer-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    /* display: none; */
}
.pages{
    font-size: var(--header-footer-font-size);
    color: var(--header-footer-text-color);
}
.pages i{
    margin: 0 .5rem;
    cursor: pointer;
}
.price__box{
    color: var(--header-footer-text-color);
}
.lbl{
    font-size: var(--header-footer-font-size);
    margin-right: .5rem;
}
.selection__form{
    border: none;
    outline: none;
    padding: 0 1rem;
    height: 2.5rem;
    font-size: var(--header-footer-font-size);
    background-color: var(--header-footer-text-color);
}
.opt{
    border: none;
    outline: none;
    font-size: var(--header-footer-font-size);
    color: var(--header-footer-color);
}
.bars, 
.four__square{
    color: #dff9fb;
    font-size: var(--header-footer-font-size);
    border: 1px solid rgb(250, 250, 252);
    padding: 0 .5rem;
    border-radius: .5rem;
    cursor: pointer;
}
.filter__form input{
    border: none;
    outline: none;
    padding: 0 1rem;
    height: 2.5rem;
    font-size: var(--header-footer-font-size);
    background-color: var(--header-footer-text-color);
}
.search__box{
    position: relative;
    padding: .2rem 1rem;
    margin: 0 1rem;
    background: var(--header-footer-text-color);
    width: 20rem;
    height: 2.5rem;
}
.input{
    height: 2rem;
    margin: 0;
    padding-right: 3rem;
    width: 100%;
    border: none;
    outline: none;
}
.search__box i{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: var(--header-footer-font-size);
    color: var(--header-footer-text-color);
    background-color: var(--header-footer-color);
    padding: .4rem .5rem;
    cursor: pointer;
}

/* Footer area */
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 30rem;
    height: 5rem;
    width: calc(100% - 30rem);
    background: var(--header-footer-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: var(--header-footer-text-color);
}
.page__count{
    font-size: var(--header-footer-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
}
.page__count_no{
    margin-right: .5rem;
}
.page__count i{
    margin: 0 .5rem;
    cursor: pointer;
}
.page__no{
    margin: 0 .7rem;
    border: .1rem solid var(--header-footer-icon);
    padding: 0 1rem;
    border-radius: 1rem;
}

/* Card area */
.card__area{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh - 10rem;
}
.card__items{
    margin: 6rem auto;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    box-sizing: border-box;
}
.card__item{
    height: 30rem;
    width: 25rem;
    background: blueviolet;
}