@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* Global Style settings */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

/* Colors */
:root{
    -bg-primary: #ecf0f1;
    -text: #16191a;
    -hover-bg: #192a56;
    -hover-text-color: #f5f6fa;
    -button: #01ac89;
    -share-icon: #4cd137;
    -rating: #01ac89;
    -active-off: #d63031;
    -active-on: #009432;
    -trophy: #01ac89;
    -header-footer-color: #222f3e;
    -underline: #576574;
    -header-footer-icon: #8395a7;
}