@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* Global Style settings */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* Colors */
:root{
    --bg-primary: #ecf0f1;
    --text: #16191a;
    --hover: #81ecec;
    --sidebar-border: #1abc9c;
    --hover-text-color: #f5f6fa;
    --button: #01ac89;
    --share-icon: #4cd137;
    --rating: #01ac89;
    --active-off: #d63031;
    --active-on: #009432;
    --trophy: #01ac89;
    --header-footer-color: #222f3e;
    --underline: #576574;
    --header-footer-icon: #8395a7;
}

/* Sidebar */
.sidebar{
    background-color: #dfe6e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 30rem;
    height: 100vh;
    z-index: 2000;
}
.sidebar__text{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-weight: 600;
    padding: 1.5rem 0;
    text-transform: uppercase;
    border-bottom: 1px solid var(--sidebar-border);
}
.nav__item{
    position: relative;
}
.nav__item::before{
    content: "";
    position: absolute;

}
.nav__link{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: start;
    color: var(--text);
    padding: 1.5rem 2rem;
    border-bottom: 1px solid var(--sidebar-border);
}
.nav__link:hover{
    color: var(--header-footer-color);
    background-color: var(--sidebar-border);
    transition: .6s ease-in-out;
}